# Python for Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
    
Iterating over a sequence is called traversal.

# Syntax:

    for element in sequence :

        Body of for

Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

# Flow Chart

![title](forLoop.jpg)

# Example

In [11]:
num = range(1,11,2)
prod = 0

for i in num:
    print("checking the number : ", i*i)
    prod += i*i
print(prod)

checking the number :  1
checking the number :  9
checking the number :  25
checking the number :  49
checking the number :  81
165

In [7]:
#Q]. Create num in between 1-10? 
#Find out odd number from 1-10. Sum all the all numbers. 


top10_num = range(1,11)
res = 0
for j in top10_num:
    if(j % 2 != 0):
        res +=  j
print(res)

25

In [3]:
num = [13,15,7,19,25]

sum1 = 1

for i in num:
    sum1 *= i
print(sum1)

648375

In [2]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

Product is: 12000000

In [5]:
#add only even numbers : 
res = 0
for i in range(10):
    if(i % 2 == 0):
        res += i
print(res)

20

# range() function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [7]:
#print range of 10
for i in range(1,11,2):    #start_point, end_point, step_size
    print(i)

1
3
5
7
9

In [11]:
#Create 10 natural numbers. Find out odd numbers, 
#squared all odd numbers. And sum them.

val1 = 1
val2 = 0
for j in range(1,11,2):
    val1 = j * j
    val2 += val1
print(val2)

165

In [11]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [14]:
lst1 = ["nilesh", "amit", "andy", "raju", "anu"]

#iterate over the list using index
#for index in range(len(lst)):
#    print(lst[index])
for ele1 in lst1:
    print(ele1)

nilesh
amit
andy
raju
anu

# for loop with else

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [13]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [14]:
for item in numbers:
    print(item)
    if (item % 2 == 0):
        print("code executed")
else:
    print("no item left in the list")

1
2
code executed
3
no item left in the list

# Python Program to display all prime numbers within an interval

In [14]:
index1 = int(input("Give input1 : "))
index2 = int(input("Give input2 : "))

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
   # print(num)
    if (num > 1):
        isDiv = False;
        
        for ind in range(2,num):   
            if (num % ind == 0):
                isDiv = True;
                break
        if not isDiv:        
            print(num);

Give input1 : 10
Give input2 : 20
Prime numbers between 10 and 20 are :
11
13
17
19

In [5]:
isDiv1 = False
num = 30
for ind in range(2,num):
    if num % ind == 0:
        isDiv1 = True;
if not isDiv1:
    print(isDiv1)

In [6]:
if not True:
    print("hello")