# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [3]:
#empty tuple
t = () #tuple()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)
print(t[0])
t[2][2] = 30
print(t[2][1])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])
1
raju
(1, (2, 3, 4), [1, 'raju', 30, 'abc'])

In [1]:
t_new = ()
print(dir(t_new))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [2]:
#only parenthesis is not enough
t = ('nilesh','')
type(t)

tuple

In [6]:
#need a comma at the end
t = ('python',)
print(type(t))
print(len(t))

<class 'tuple'>
1

In [12]:
#parenthesis is optional
t = "nilesh", 
print(type(t))

print(t)

<class 'tuple'>
('nilesh',)

# Accessing Elements in Tuple

In [9]:
t = ('nilesh', 'simmi', 'lakshya', 'ana', 'amir')

print(t[3])

ana

In [8]:
#negative index
print(t[-1]) #print last element in a tuple

amir

In [10]:
#nested tuple
t = ('ABC', ('nilesh', 'raj', 'adi'))

print(t[1])

('nilesh', 'raj', 'adi')

In [16]:
print(t[1][2])

adi

In [17]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a Tuple

#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [18]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [19]:
t = 'nilesh'

t[0] = 'm'
print(t)

TypeError: 'str' object does not support item assignment

In [12]:
#concatinating tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6, "hello")
t = t1 + t2


print(t)

(1, 2, 3, 4, 5, 6, 'hello')

In [12]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('nilesh', ) * 4)
print(t)
print(len(t))
print(type(t))

('nilesh', 'nilesh', 'nilesh', 'nilesh')
4
<class 'tuple'>

# Tuple Deletion

In [16]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6,(8,9))

#delete entire tuple
del t

# Tuple Count

In [27]:
t = (1, 2, 3, 1, 3, 3, 4, 1,"py")

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [19]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(4)) #return index of the first element is equal to 3


#print index of the 1

6

# Tuple Memebership

In [20]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)
#print(id(t))
#t += 7

#print(t)

print(18 not in t)

True

In [21]:
print(6 in t)

True

# Built in Functions

# Tuple Length

In [20]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

# Tuple Sort

In [24]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself)

[1, 2, 3, 4, 5]

In [23]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [24]:
#get the smallest element in a tuple
print(min(t))

1

In [25]:
#get sum of elments in the tuple
print(sum(t))

23